<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4"> 
      <span class="text-muted">BeneFare &copy;</span> 
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4 text-right">
        <p><a href="/admin">Admin</a></p>
      </div>
    </div>
  </div>
</footer>