<nav class="navbar navbar-light bg-light fixed-top"> <a class="navbar-brand" href="/"> <img src="https://s3.amazonaws.com/jrotte/Images/benefare2.png" width="50" height="50" class="d-inline-block align-top" alt="benefare logo"> <span class="headName">Benefare</span> </a>
  <div class="fixed-top">
    <ul class="nav justify-content-end">
      <li class="nav-item"> <a class="nav-link" href="/"><i class="fa fa-home fa-sm"></i></a> </li>
      <li class="nav-item"> <a class="nav-link" href="/reg">Sign Up</a> </li>
      <li class="nav-item"> <a class="nav-link" href="/login">Login</a> </li>
      <!--      <li class="nav-item"> <a class="nav-link" href="#">Link</a> </li>
      <li class="nav-item"> <a class="nav-link disabled" href="#">Disabled</a> </li>-->
    </ul>
  </div>
</nav>
<div class="row" style="margin-top: 80px;">
  <div class="col-lg-2 text-center"></div>
  <div class="col-lg-8 text-center">
    <div id="mycarousel" class="carousel slide" data-ride="carousel" >
      <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
        <li data-target="#mycarousel" data-slide-to="3"></li>
        <li data-target="#mycarousel" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active"> <img class="d-block w-100" src="https://s3.amazonaws.com/jrotte/Images/001.jpg" alt=" "> </div>
        <div class="carousel-item"> <img class="d-block w-100" src="https://s3.amazonaws.com/jrotte/Images/002.jpg" alt=" "> </div>
        <div class="carousel-item"> <img class="d-block w-100" src="https://s3.amazonaws.com/jrotte/Images/003.jpg" alt=" "> </div>
        <div class="carousel-item"> <img class="d-block w-100" src="https://s3.amazonaws.com/jrotte/Images/004.jpg" alt=" "> </div>
        <div class="carousel-item"> <img class="d-block w-100" src="https://s3.amazonaws.com/jrotte/Images/005.jpg" alt=" "> </div>
      </div>
      <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
    <div class="col-lg-2 text-center"></div>
  </div>
</div>