<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="jumbotron">
        <h1>BeneFare</h1>
        <h2>Tag Line Goes Here</h2>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 15px;">
    <div class="col-lg-12 text-center">
      <h2>This is our Admin Page!</h2>
    </div>
  </div>
  <div class="row" style="margin-top: 15px;">
    <div class="col text-center"> 
      <a class="btn btn-default" href="/" role="button">Home</a> 
    	<a class="btn btn-default" href="/admin" role="button">Admin</a>
      <a class="btn btn-default" href="/login" role="button">Login</a>
      <a class="btn btn-default" href="/reg" role="button">Register</a>
      <h2>----------</h2>
    </div>
  </div>
  <div class="row"  style="margin-top: 15px;">
    <div class="col-lg-12 text-center">
      <h2>----------</h2>
    </div>
  </div>
</div>