{{> header}}
<div class="container">
  <div class="row" style="margin-top: 15px;">
    <div class="col text-center">
      <div id="locationField">
        <label for="autocomplete" class="col-sm-2 col-form-label">Pick Up Location</label>
        <br/>
        <input id="autocomplete" class="form-control form-control-lg" placeholder="Enter an address" onFocus="geolocate()" type="text">
        </input>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 15px;">
    <div class="col text-center">
      <label for="autocomplete2" class="col-sm-2 col-form-label">Drop Off Location</label>
      <br/>
      <input id="autocomplete2" class="form-control form-control-lg" placeholder="Enter an address" onFocus="geolocate()" type="text">
      </input>
      <br/>
      <br/>
      <a class="btn btn-primary btn-lg" href="/estimates" role="button">Get Fares</a>
    </div>
  </div>
  <div class="row" style="margin-top: 15px;">
    <div class="col-lg-12 text-center">
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy1tp2HLcWtZRD8Ppv9ok3H6ZQ2PU9ehU&libraries=places&callback=initAutocomplete"
  async defer></script> {{> footer}}